<div class="container">
  <div class="row">
    <div class="col-4 mt-4">
      <%= form_with model: @task do |f| %>
        <div class="form-group">
          <%= f.label :title, class: "custom-label" %>
          <%= f.text_field :title, class: "custom-input form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :details, class: "custom-label" %>
          <%= f.text_field :details, class: "custom-input form-control" %>
        </div>
        <div class="d-flex justify-content-between align-items-end mt-3">
          <%= link_to "Back", task_path, class: "btn btn-secondary btn-sm" %>
          <%= f.submit "Save", class: "custom-button btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
